*{
    transition: all 6s;
  }
  img{
    with:300px;
  }
  body{
    background-color: #161616;
  }
  input[type='button']{
    background:#e74c3c;
    border:none;
    color:#161616;
    height:50px;
    position:relative;
    left:-10px;
    top:-3px;
    cursor:pointer;
  }
  #rss-wrap{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 60vw;
    margin: 0 auto;
  }
  
  .entry_link{
    text-decoration: none;
    color: #333333;
  }
  
  .entry_date{
    font-size: 0.85em;
    margin-bottom: 5px;
  }
  
  .entry_img > img{
    /*display: inline-block;*/
    display: block;
    width: 300px;
    float:left;
    margin: 0 15px 0 0;
    z-index: -1;
  }
  
  .entry_title{
    display: inline;
    float: none;
  }
  
  .entry_by{
    display:none;
  }
  
  .entry_details{
    margin-top: 10px;
    font-size: 0.65em;
  }
  
  .entry_index{
    font-size: 0.75em;
    float:right;
    margin: 0 5px 0 0;
    background:#c0392b;
    color:#fff;
    padding:5px;
  }
  
  #rss-header{
    font-family: Open Sans, sans-seriff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 0 0 0 10px;
    background-color: #161616;
    color: #333333;
    overflow:hidden;
    hight:50px;
    margin-bottom:-3px;
  }
  
  #rss-title{
    display: inline-block;
    font-size: 20px;
  }
  
  #current-feed{
    display: inline-block;
    float: right;
    font-size: 12px;
    margin: 1em;
  
  }
  
  #rss-container{
    width: 1600px;
    font-size: 16px;
    display: inline-flex;
    
  }
  
  #rss-container > ul{
      /*display: inline-flex;*/
    list-style-type: none;
    margin:  0;
    padding: 0;
    display: inline-block;
    width: 100%;
  }
  
  .entry, .entry2{
    background-color:#161616;
    font-family: 'Roboto', sans-serif;
    font-size: 0.6em;
    left: 0;
    padding: 5px 0 35px 5px;
    cursor: pointer;
    overflow:hidden;
    padding:15px;
    
   
    
  }
  .card{
    width: 500px !important;
    display: inline-flex;
    margin: 12.5px 12.5px 12.5px 12.5px;
    height: 150px;
    background-color: unset !important;
  }

  .card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    position: absolute;
    width: 500px !important;
    height: 150px;
    text-align: left;
    display: flex;
    
}

.image{
    display: flex;
    
}

.gradient{
    width: 490px;
    display: flex;
    background: linear-gradient(transparent,black);
    z-index: 1;
    position: absolute;
    height: 160px;
    transform: translateX(5px);
}

img{
    
    width: 500px; /* width of container */
    height: 150px; /* height of container */
    object-fit: cover;
    background: linear-gradient(black,transparent);
    
}
  
  .entry2{
    background-color: #161616;
  }
  
  .entry:hover,entry2:hover{
    background-color: #161616;
    border-left:5px solid #e74c3c;
    
    -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  }
  
  .entry:active{
    background-color:#161616;
  }
  
  /* CSS QUERIES*/
  @media (max-width: 750px){
    #current-feed{
      display:none;
    }
  }
  
  @media (max-width:500px){
    #rss-title{
      font-size: 0.95em;
    }
    .entry_img > img {
      width: 40px;
    }
  }
  
  @media (max-width:400px){
    #rss-container{
      font-size: 12px;
    }
  }

  @media (min-width: 1200px){
.h2, h2 {
    font-size: 1.2rem;
    color: white;
    align-self: flex-end;
    z-index: 10;

    margin-left: 10px;
    margin-right: 10px;
    
}
  }